* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color: #6c5b7b;
  text-decoration: none;
}

a:hover {
  color: #6c5b7b;
  text-decoration: underline;
}

.container {
  text-align: center;
}

h1 {
  color: #6c5b7b;
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  color: #9c83b1;
  font-size: 1.5em;
  margin-bottom: 20px;
}

h3 {
  color: #9c83b1;
  font-size: 1.0em;
  margin-bottom: 20px;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff7e67;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-weight: 600;
}

button:hover {
  background-color: #ff6b58;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #333;
  max-width: 75%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.small-text {
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  font-size: .75em;
}

.restaurant-card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
}

.restaurant-card-details {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #333;
  max-width: 75%;
}

.other-restaurants-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
}

.main-form-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px; 
}